OPENAI_API_KEY=your_openai_api_key_here
GROQ_API_KEY=your_groq_api_key_here

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT=self-healing-rag
TAVILY_API_KEY=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