# Environment variables
.env

# Raw Datasets / Data sources
documents/

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Vector store 
chroma_db/

# OS files
.DS_Store
Thumbs.db